@import "../../index.scss";

.logo{
  background-image: url("https://i.postimg.cc/PqGN4mkp/logo.png");	
  width: 80px;
  height: 65px;
  background-size: no-repeat;	
}

.navbar{
	background: $appleBlue;
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
	top: 0;
}

.navLinks {
	align-self: center;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}

.navLink {
	color: $appleDWhite;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 1.5rem !important;
	transition: all 0.3s linear;
	&:hover{
		color: $lightBlue !important;
	}
}

.active {
	color: $appleBlack !important;
}